[Unit]
Description=spring boot daemon
After=network.target

[Service]
User=azureuser
Group=azureuser
WorkingDirectory={{service.workingdir}}
ExecStart={{service.execstart}}

[Install]
WantedBy=multi-user.target