[Unit]
Description=spring boot daemon
After=network.target

[Service]
User=it2021077 
Group=it2021077
WorkingDirectory={{service.workingdir}}
ExecStart={{service.execstart}}

[Install]
WantedBy=multi-user.target